$bg-color: yellow;
$border-color: red;

html {
	background-image: url(https://res.cloudinary.com/frozenscloud/image/upload/v1607340223/vinna/supersecret.png);
  background-size: cover;
}

body {
  max-height: 100vh;
  margin: 0;
}

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}

.card-container {
  display: flex;
  height: 800px;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

#image-view-nav {
  padding: 20px;
}
